/src/wwwroot/media/
/src/wwwroot/css/
/src/wwwroot/js/
/src/wwwroot/index.html
/src/wwwroot/manifest.json
/src/wwwroot/asset-manifest.json
/src/wwwroot/favicon.ico
/src/wwwroot/robots.txt
/src/wwwroot/sitemap.txt

/dist

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Build
public/css/main.css

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# ignore yarn.lock
yarn.lock
